rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isCrew() {
      return request.auth != null;
    }

    match /jobs/{jobId} {
      allow read, write: if isCrew();

      match /media/{mediaId} {
        allow read, write: if isCrew();
      }
    }

    match /config/{docId} {
      allow read, write: if isCrew();
    }

    match /kudos/{kudosId} {
      allow read, write: if isCrew();
    }

    match /users/{userId} {
      allow read, write: if isCrew();
    }
  }
}
